<div class="form-control">
  <label for="title">
    Article title
    <input id="title" name="title" type="text" [(ngModel)]="title" placeholder="Enter a title">
  </label>
</div>
<div class="form-control">
  <label class="style-select">Attach to a topic
    <select id="topics" name="topics" [(ngModel)]="category">
      <option value=""></option>
      <option *ngFor="let topic of secondaryTopics" [value]="topic">{{topic.Title}} ({{topic.PrimaryTopicID}})</option>
    </select>
  </label>
</div>
<label>
  Article Content
  <ckeditor
    [(ngModel)]="content"
    class="editor"
    [config]="{
    extraPlugins: 'divarea',
    uiColor: '#bdbdbd',
      toolbarGroups: [
      { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
      { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
      { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
      { name: 'forms', groups: [ 'forms' ] },
      { name: 'editing', groups: [ 'find', 'selection', 'editing' ] },
      { name: 'styles', groups: [ 'styles' ] },
      { name: 'links', groups: [ 'links' ] },
      { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] }
    ]
   }"
    debounce="20">
    <ckbutton [name]="'imageExplorer'"
              [command]="'openImageExplorer'"
              (click)="openImageExplorer($event)"
              [icon]="'./images/Icon.png'"
              [label]="'Open image explorer'"
              [toolbar]="'insert,1'">
    </ckbutton>
  </ckeditor>
  <app-dialog-modal *ngIf="showFiles"
                    [visible]="showFiles"
                    (onDecline)="onCloseImage()"
                    (onConfirm)="onAddImage()">
  </app-dialog-modal>
</label>
<button class="btn btn-success" (click)="createArticle()">Create</button>
