@import '../../../styles/variables';

#utm-control-form {
  max-width: 90%;
  padding: 15px 20px;
  display: block;
  background: white;
  border-radius: 3px;
  border: 1px solid lighten(#bdbdbd, 12%);
  h4 {
    color: $aqua;
  }
  .heading-with-action {
    margin-bottom: 10px;
  }
  .input-button-addon {
    margin: 5px 0;
  }
  input, select {

  }
}
