@import "../../styles/variables";
:host {}

.Wiki {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 1.5rem 1rem;
  padding: 1rem 0;
}

.Wiki__NavWrapper {
  position: sticky;
  top: 0;
  display: block;
  margin-right: 1.5rem;
}

.Wiki__Content {
  width: 100%;
  flex:3; // TODO Fix width
  flex-wrap: wrap;
}
