@import "../../styles/variables";
:host {}

.Wiki {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 1.5rem 1rem;
}

.Wiki__NavWrapper {
  position: sticky;
  top: 0;
  display: block;
  margin-right: 2rem;
}

