@import "../../styles/variables";
:host {}

.wiki {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  //min-height: 555px;
}

.wiki-nav-wrapper {
  position: sticky;
  top:0;
  width: 400px;
  display: block;
  // overflow: hidden;
  background: $dark-purple;
  //min-height: 100vh;
}

