@import "../../../styles/variables";
@import "../../../styles/layout";

:host {
  display: block;
  width: 100%;
}

.Wiki__Content {
  display: block;
  width: 100%;
  flex:3;
  flex-wrap: wrap;
  &Header {
    display: flex;
    vertical-align: middle;
    margin-bottom: 1rem;
    &Title {
      flex: 4;
      padding-left: 2rem;
    }
    &Controls {
      flex: 1;
      text-align: right;
    }
    &Meta {
      color: #999;
      font-size: 0.9rem;
      font-weight:100;
      &AuthorName {
        color: $crimson;
      }
      &Created {
        color: $blue;
      }
    }
    h1 {
      margin: 0.1rem 0 0.2rem 0;
      line-height:1;
      padding-bottom: 0.5rem;
      font-size: 2rem;
      color: #333;
    }
    button {
      font-size: 0.9rem;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &Article {
    &Wrapper {
      padding: 2rem;
    }
    line-height: 1.4;

  }

}


