@import "../../../styles/variables";
@import "../../../styles/layout";

:host {
}

.wiki-content {
  &_header {
    display: flex;
    vertical-align: middle;
    &-title {
      flex: 4;
    }
    &-controls {
      flex: 1;
      text-align: right;
    }
    h1 {
      margin: 0.1rem 0 0.2rem 0;
      line-height:1;
      padding-top: 15px;
      padding-bottom:15px;
      font-size: 2rem;
      color: #333;
    }
    button {
      font-size: 0.9rem;
      padding-left: 15px; padding-right: 15px;
    }
  }
}

