@import "../../../styles/variables";
@import "../../../styles/layout";

:host {
  display: block;

}

.Wiki__Content {

  &Header {
    display: flex;
    vertical-align: middle;
    &Title {
      flex: 4;
    }
    &Controls {
      flex: 1;
      text-align: right;
    }
    h1 {
      margin: 0.1rem 0 0.2rem 0;
      line-height:1;
      padding-top: 15px;
      padding-bottom:15px;
      font-size: 2rem;
      color: #333;
    }
    button {
      font-size: 0.9rem;
      padding-left: 15px; padding-right: 15px;
    }
  }
  &Article {
    &Wrapper {
      padding: 2rem;
    }
    line-height: 1.4;
  }

}


