<nav class="row">
  <div id="logo">
    <a href="/">caet dash</a>
  </div>
  <div id="primary-nav">
    <ul>
      <li><a routerLinkActive="active" routerLink="wiki">wiki</a></li>
      <li><a routerLinkActive="active" routerLink="blog">blog</a></li>
      <li><a routerLinkActive="active" routerLink="broadcast">broadcast</a></li>
      <li><a routerLinkActive="active" routerLink="utm">utm generator</a></li>
    </ul>
  </div>
  <div id="notifications">
    <i class="fa fa-bell"></i>
  </div>
  <div id="document-search">
    <div class="input-wrapper input-wrapper-search">
      <input type="text" placeholder="Search all documents">
    </div>
  </div>
</nav>
