/*    Buttons   */

button {
  border: 0;
  background: #dcd8d6;
  color: #696969;
}

.btn {
  border-radius: 4px;
  padding: 5px 12px;
  line-height:20px;
  &-aqua {
    background: $aqua;
    color: white;
  }
}

/*   Inputs   */


input[type=text], input[type=number], input[type=url], select {
  padding: 10px 15px;
  border: 0;
  background: #fafafa;
  border: 1px solid darken(#fafafa, 19%);
  width:100%;

  &::placeholder {
    color: darken($light-grey, 20%);
  }
  &.light {
    background: #FFFFFF;
  }
  &.ng-invalid.ng-touched:not(.ng-pristine) {
    border: 1px solid $crimson;
    background: lighten($crimson, 35%) !important;
  }
  &.ng-valid.ng-touched:not(.ng-pristine) {
    border: 1px solid $green;
    background: lighten($green, 40%) !important;
  }
}

.input-wrapper {
  position: relative;
  &:after {
    font-family: 'FontAwesome';
    position: absolute;
    left: 13px;
    top: 48%;
    font-size:0.8rem;
    transform: translateY(-50%);
  }
  &-search {
    &:after {
      color: $dark-grey;
      content:'\f002';
    }
  }
  input {
    padding-left:35px;
  }
}

/*    Select boxes   */

select {
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}
/*    Form layout    */

.form-control {
  margin-bottom: 20px;
  label {
    small {
      font-size: 0.6rem;
      color: $crimson;
    }
    position: relative;
    display: block;
    input, select {
      margin: 5px 0;
      display: block;
    }
    &.select-style {
      &:after {
        color: black;
        font-family: 'FontAwesome';
        content: '\f107';
        position: absolute;
        right: 15px;
        top: 34px;
      }
    }
  }
}

.help-text {
  margin: 5px 0;
  color: lighten($dark-grey, 5%);
  font-size: 0.7rem;
}


.input-button-addon {
  margin: 5px 0;
  display: flex;
  button {
    flex: 1;
  }
  input {

    flex: 4;
  }
}

a:disabled, button:disabled {
  cursor: not-allowed;
  background: $light-grey;
  color: darken($light-grey, 20%);
}
