/*    Buttons   */

button {
  border: 0;
  background: #dcd8d6;
  color: #696969;
}

button.btn, a.btn {
  border-radius: 4px;
  padding: 5px 12px;
  line-height:20px;
  &-aqua {
    background: $aqua;
    color: white;
  }
  &-secondary {
    background: $blue;
    color: white;
  }
  &-crimson {
    background: $crimson;
    color: white;
  }
  &-green {
    background: $green;
    color: white;
  }
}

/*   Inputs   */

form:not(.no-ui-validation) input, form:not(.no-ui-validation) select {

  &.ng-invalid.ng-touched:not(.ng-pristine) {
    border: 1px solid $crimson;
    background: lighten($crimson, 55%) !important;
  }
  &.ng-valid.ng-touched:not(.ng-pristine) {
    border: 1px solid $green;
    background: lighten($green, 55%) !important;
  }
}

input[type=text], input[type=number], input[type=url], select {
  padding: 10px 15px;
  border: 0;
  font-family: "RN House Sans";
  background: #fafafa;
  border: 1px solid darken(#fafafa, 19%);
  width:100%;

  &::placeholder {
    color: darken($light-grey, 20%);
  }
  &.light {
    background: #FFFFFF;
  }

}

.input-wrapper {
  position: relative;
  &:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 13px;
    top: 48%;
    font-size:0.8rem;
    transform: translateY(-50%);
  }
  &__search {
    &:after {
      content: '\f002';
    }
  }
  input {
    padding-left:35px;
  }
}

/*    Select boxes   */

select {
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}
/*    Form layout    */

.form-control {
  margin-bottom: 20px;
  label {
    small {
      font-size: 0.6rem;
      color: $crimson;
    }
    position: relative;
    display: block;
    input, select {
      margin: 5px 0;
      display: block;
    }
    &.select-style {
      &:after {
        color: black;
        font-family: 'Font Awesome 5 Free';
        content: '\f0d7';
        font-weight: 900;
        position: absolute;
        right: 15px;
        top: 34px;
      }
    }
  }
}

.help-text {
  margin: 5px 0;
  color: lighten($dark-grey, 5%);
  font-size: 0.7rem;
}


.input-button-addon {
  margin: 5px 0;
  display: flex;
  button {
    flex: 1;
  }
  input {

    flex: 4;
  }
}

a:disabled, button:disabled {
  cursor: not-allowed;
  background: $light-grey;
  color: darken($light-grey, 20%);
}


.editor {
  margin: 10px 0;
  display:block;
}





.toggle-create {
  display: flex;
  mat-form-field {
    flex: 1;
    justify-content: space-between;
  }
}

.quick-edit {
  &_item {
    display: flex;
    mat-form-field {
      flex:8;
    }
    .btn-wrapper {
      flex: 1;

    }
  }
}
.btn-icon {
  i {
    margin-left:5px !important;
    margin-bottom:3px !important;
  }
}






//.quick-edit {
//
//  display:block;
//  &_item {
//    display: flex;
//    vertical-align: middle;
//    background: lighten($light-grey, 5%);
//    margin: 5px 0;
//
//
//    &-input {
//      display:flex;
//      small {
//        flex: 1;
//        color: $dark-grey;
//      }
//      flex: 4;
//      margin: 0;
//      padding: 0;
//      input {
//        flex:2;
//        color: #333;
//      }
//    }
//    &-controls {
//      flex: 1;
//      display:flex;
//      margin: 0;
//      padding: 0;
//      button {
//        font-weight:500;
//        font-size:0.9rem;
//        &.trash {
//          color: crimson;
//        }
//        &.update {
//          color: lighten($brand-blue, 20%);
//        }
//
//      }
//    }
//  }
//}

.block-input {
  width: 100%;
  display: block;
}

//.mat-mini-fab .mat-button-wrapper{
//  font-size: 0.8rem;
//}
//
//.mat-fab .mat-button-wrapper {
//  font-size: 1.3rem;
//  padding: 0;
//}
