@import "variables";

.panel {
  background: white;
  border-radius: 3px;
  border: 1px solid lighten(#bdbdbd, 17%);
  margin: 15px 0;

  &__title {
    border-radius: 3px 3px 0 0;
    padding: 15px 25px;
    h2 {
      font-size: 1.1rem;
      font-weight:400;
    }
    &.primary {
      color: #333;
      border-bottom: 1px solid darken(#fafafa, 5%);
    }
  }
  &__body {
    padding: 15px 20px;
    background: #fafafa;
  }
  &__row {

  }
  &__table {
    &.lined {
      .panel__row {
       // border-bottom: 1px solid #bdbdbd;
      }
    }
  }

}


