/*    Colours   */

$aqua: #1F9BAA;
$crimson: #E54A61;
$green: #82A934;
$blue: #5668b0;
$yellow: #F6AF36;
$light-grey: #ebebeb;
$dark-grey: #838386;
$brand-blue: #0A2F64;
$brand-ink: #071630;

$nav-ui-color: #444;

/*    Sizing   */

$side-nav-width: 280px;
