/*    Colours   */

$aqua: #1F9BAA;
$crimson: #EB2136;
$green: #82A934;
$blue: #5668b0;
$yellow: #F6AF36;
$light-grey: #ebebeb;
$dark-grey: #838386;
$purple: #44155d;
$dark-purple: #231937;
$brand-ink: #071630;

$nav-ui-color: #444;

/*    Sizing   */

$side-nav-width: 280px;
