@import "variables";
@import "forms";
@import "layout";


* {
  box-sizing: border-box;
}


html {
  font-family: 'RN House Sans', sans-serif;
  margin: 0 auto;
  padding:0;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  margin:0;
  padding:0;
  padding-top: 72px;
}

.grid {
  width : 100%;
  * {
    box-sizing: border-box;
  }
}


.row {
  &:after,&:before {
    content:"";
    display: table ;
    clear: both;
  }
}

/*    Body styles   */

h1, h2, h3, h4, h5, h6 {
  font-family: 'RN House Sans', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $aqua;
}

p {
  font-weight: 100;
}

div.heading-with-action {
  vertical-align: middle ;
  display: flex;
  div.header {
    flex: 2;
    h4 {
      margin: 5px 0;
      padding: 5px 0;
    }
  }
  div.clear {
    text-align: right;
    button {
      margin: 5px 0;
      padding: 5px 15px;
    }
    flex: 1;
    vertical-align: middle;
    display: inline-block;
  }

}

