/*    Colours   */
/*    Sizing   */
/*    Buttons   */
button {
  border: 0;
  background: #dcd8d6;
  color: #696969; }

button.btn, a.btn {
  border-radius: 4px;
  padding: 5px 12px;
  line-height: 20px; }
  button.btn-aqua, a.btn-aqua {
    background: #1F9BAA;
    color: white; }
  button.btn-secondary, a.btn-secondary {
    background: #5668b0;
    color: white; }
  button.btn-crimson, a.btn-crimson {
    background: #E54A61;
    color: white; }
  button.btn-green, a.btn-green {
    background: #82A934;
    color: white; }

/*   Inputs   */
form:not(.no-ui-validation) input.ng-invalid.ng-touched:not(.ng-pristine), form:not(.no-ui-validation) select.ng-invalid.ng-touched:not(.ng-pristine) {
  border: 1px solid #E54A61;
  background: white !important; }
form:not(.no-ui-validation) input.ng-valid.ng-touched:not(.ng-pristine), form:not(.no-ui-validation) select.ng-valid.ng-touched:not(.ng-pristine) {
  border: 1px solid #82A934;
  background: #fcfdf9 !important; }

input[type=text], input[type=number], input[type=url], select {
  padding: 10px 15px;
  border: 0;
  background: #fafafa;
  border: 1px solid #cacaca;
  width: 100%; }
  input[type=text]::placeholder, input[type=number]::placeholder, input[type=url]::placeholder, select::placeholder {
    color: #b8b8b8; }
  input[type=text].light, input[type=number].light, input[type=url].light, select.light {
    background: #FFFFFF; }

.input-wrapper {
  position: relative; }
  .input-wrapper:after {
    font-family: 'FontAwesome';
    position: absolute;
    left: 13px;
    top: 48%;
    font-size: 0.8rem;
    transform: translateY(-50%); }
  .input-wrapper-search:after {
    color: #838386;
    content: '\f002'; }
  .input-wrapper input {
    padding-left: 35px; }

/*    Select boxes   */
select {
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

/*    Form layout    */
.form-control {
  margin-bottom: 20px; }
  .form-control label {
    position: relative;
    display: block; }
    .form-control label small {
      font-size: 0.6rem;
      color: #E54A61; }
    .form-control label input, .form-control label select {
      margin: 5px 0;
      display: block; }
    .form-control label.select-style:after {
      color: black;
      font-family: 'FontAwesome';
      content: '\f107';
      position: absolute;
      right: 15px;
      top: 34px; }

.help-text {
  margin: 5px 0;
  color: #909093;
  font-size: 0.7rem; }

.input-button-addon {
  margin: 5px 0;
  display: flex; }
  .input-button-addon button {
    flex: 1; }
  .input-button-addon input {
    flex: 4; }

a:disabled, button:disabled {
  cursor: not-allowed;
  background: #ebebeb;
  color: #b8b8b8; }

.editor {
  margin: 10px 0;
  display: block; }

.quick-edit {
  display: block; }
  .quick-edit button, .quick-edit input, .quick-edit small {
    margin: 0;
    padding: 10px;
    border: 0;
    background: none; }
  .quick-edit_item {
    display: flex;
    vertical-align: middle;
    background: #f8f8f8;
    margin: 5px 0; }
    .quick-edit_item-input {
      display: flex;
      flex: 4;
      margin: 0;
      padding: 0; }
      .quick-edit_item-input small {
        flex: 1;
        color: #838386; }
      .quick-edit_item-input input {
        flex: 2;
        color: #333; }
    .quick-edit_item-controls {
      flex: 1;
      display: flex;
      margin: 0;
      padding: 0; }
      .quick-edit_item-controls button {
        font-weight: 500;
        font-size: 0.9rem; }
        .quick-edit_item-controls button.trash {
          color: crimson; }
        .quick-edit_item-controls button.update {
          color: #135bc1; }

.side-bar {
  flex: 2;
  min-height: 100vh;
  padding: 10px 20px; }
  .side-bar h1 {
    margin: 0;
    color: #838386;
    font-size: 1.9rem; }

.container {
  display: flex; }

.main {
  flex: 7;
  display: block;
  padding: 20px; }

/*    Colours   */
/*    Sizing   */
.panel {
  background: white;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  padding: 15px;
  margin: 15px 0; }

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  box-sizing: border-box; }

html {
  font-family: 'RN House Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

body {
  margin: 0;
  padding: 0;
  padding-top: 72px; }

.grid {
  width: 100%; }
  .grid * {
    box-sizing: border-box; }

.row:after, .row:before {
  content: "";
  display: table;
  clear: both; }

/*    Body styles   */
h1, h2, h3, h4, h5, h6 {
  font-family: 'RN House Sans', sans-serif;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #1F9BAA; }

p {
  font-weight: 100; }

div.heading-with-action {
  vertical-align: middle;
  display: flex; }
  div.heading-with-action span.header {
    color: #838386;
    font-size: 2rem;
    margin: 5px 0 !important;
    padding: 10px 0;
    line-height: 1.2;
    display: inline-block;
    flex: 1;
    vertical-align: middle;
    display: inline-block; }
    div.heading-with-action span.header-sm {
      font-size: 1rem; }
  div.heading-with-action span.action {
    text-align: right;
    vertical-align: middle;
    margin: 5px 0 !important;
    padding: 10px 15px;
    line-height: 1.2;
    display: inline-block;
    flex: 1;
    position: relative; }
    div.heading-with-action span.action button {
      height: 100%;
      display: inline-block; }

.modal {
  display: flex;
  /* establish flex container */
  flex-direction: column;
  /* make main-axis vertical */
  justify-content: center;
  /* align items vertically, in this case */
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(0, 0, 0, 0.6); }
  .modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    margin: 10px;
    padding: 0; }
  .modal button.close {
    background: none;
    color: white;
    font-size: 1.1rem;
    display: inline-block; }
  .modal-header {
    padding: 10px  20px; }
    .modal-header span {
      padding: 0;
      margin: 0;
      vertical-align: middle; }
    .modal-header .action {
      float: right; }
  .modal-body {
    padding: 0 20px; }
    .modal-body p {
      padding: 25px 0; }
  .modal-footer {
    padding: 15px 20px; }

.danger .modal-header, .danger .modal button.action-btn {
  background: #E54A61;
  color: white; }

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear; }

.fade.in {
  opacity: 1; }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(-50%, -75%);
  -ms-transform: translate(-50%, -75%);
  -o-transform: translate(-50%, -75%);
  transform: translate(-50%, -75%); }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; } }
.main {
  color: #555; }
  .main p {
    margin-bottom: 1rem;
    line-height: 1.35rem; }

/*# sourceMappingURL=styles.css.map */
