<nav class="row">
  <div id="logo">
    <a routerLink="/"><i class="fa fa-home"></i></a>
  </div>
  <div id="primary-nav">
    <ul>
      <li><a routerLinkActive="active" routerLink="wiki">wiki</a></li>
      <li><a routerLinkActive="active" routerLink="utm">utm generator</a></li>
      <!--<li><a routerLinkActive="active" routerLink="blog">blog</a></li>-->
      <!--<li><a routerLinkActive="active" routerLink="broadcast">broadcast</a></li>-->
    </ul>
  </div>
  <div id="notifications">
    <!--<a href="/">{{user.DisplayName}}</a>-->
    <!--<i class="fa fa-bell"></i>-->
  </div>
  <div id="document-search">
    <!--<div class="input-wrapper input-wrapper-search">-->
      <!--<input type="text" placeholder="Search all documents">-->
    <!--</div>-->
  </div>
</nav>
