@import "../../../styles/variables";

:host {
  display: block;
  padding: 20px 0;
  background: $brand-ink;
  z-index: 100;
  position: fixed;
  left: 0;
  top:0;
  bottom:0;
  height:100%;
  overflow:auto;
  max-width: 90px;

  nav {
    > div {
      font-size: 0.9rem;
      float: left;
      min-height: 1px;
      position: relative;
    }
  }
}

#logo {
  width: 15%;
  i.fa {
    color: white !important;
    font-size: 1.4rem;
  }
}

.primary-nav {
  &__icon {
    font-size:1.4rem;
    display:block;
  }
  &__label {
    margin: 6px 0;
    display:block;
    font-size: 0.9rem;

  }
  text-align:center;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      a {
        border-left: 5px solid transparent;
        display: block;
        max-width: 90px;
        transition: all 0.2s ease-in-out;
        font-weight:200;
        padding: 6px 5px 6px 0;
        color: lighten($nav-ui-color, 27%);
        &.active {
          border-color: $aqua;
          color: #ffffff;
        }
      }
    }
  }
}
