<aside class="side-bar side-bar_left utm-controls" [ngClass]="{'utm-controls-active': childRouteActive}">
  <div class="utm-controls_content">

    <div class="utm-controls_content-primary">
      <h1>UTM Generator</h1>

      <ul class="utm-controls_content-nav">
        <li><a routerLinkActive="active" routerLink="mediums">Manage Mediums</a></li>
        <li><a routerLinkActive="active" routerLink="sources">Manage Sources</a></li>
        <li><a routerLinkActive="active" routerLink="campaigns">Manage Campaigns</a></li>
        <li><a routerLinkActive="active" routerLink="content">Manage Content</a></li>
      </ul>
      <div class="heading-with-action" *ngIf="utmHistory.length > 0">
        <div class="header">
          <h4>Recent strings</h4>
        </div>
        <div class="clear">
          <button class="btn" (click)="clearRecentStrings()">Clear</button>
        </div>
      </div>
      <div class="input-button-addon" *ngFor="let utmUrl of utmHistory">
        <button class="btn-aqua" ngxClipboard [cbContent]="utmUrl" (click)="notify()"><i class="fa fa-copy"></i></button>
        <input type="text" readonly  class="light" value="{{utmUrl}}">
      </div>
    </div>

    <div class="utm-controls_content-secondary">
      <router-outlet></router-outlet>
    </div>
  </div>

</aside>

<main class="main utm-generator">
  <form [formGroup]="utmForm">
    <div class="form-control">
      <label for="url">
        URL <small>(required)</small>
        <input type="url" id="url" placeholder="e.g. https://jobs.rbs.com" formControlName="url">
        <p class="help-text">Specify the full URL including the protocol</p>
      </label>
    </div>
    <div class="form-control">
      <label for="medium" class="select-style">
        Medium <small>(required)</small>
        <select id="medium" formControlName="medium">
          <option value=""></option>
          <option *ngFor="let medium of mediums" [value]="medium.Title">{{medium.Title}}</option>
        </select>
        <p class="help-text">This is the top-level 'platform' which the source can be classified as. This option will change available Sources. </p>
      </label>
    </div>
    <div class="form-control">
      <label for="source" class="select-style">
        Source <small>(required)</small>
        <select id="source" formControlName="source">
          <option value=""></option>
          <option *ngFor="let source of filteredSources" [value]="source.Title">{{source.Title}}</option>
        </select>
        <p class="help-text">Select the specific Source under the chosen Medium.</p>
      </label>
    </div>
    <div class="form-control">
      <label for="campaign" class="select-style">
        Campaign <small>(required)</small>
        <select id="campaign" formControlName="campaign">
          <option value=""></option>
          <option *ngFor="let campaign of campaigns" [value]="campaign.Title">{{campaign.Title}}</option>
        </select>
        <p class="help-text">Required parameter to tie URL to a specific campaign</p>
      </label>
    </div>
    <div class="form-control">
      <label for="content" class="select-style">
        Content
        <select id="content" formControlName="content">
          <option value=""></option>
          <option *ngFor="let content of contentList" [value]="content.Title">{{content.Title}}</option>
        </select>
        <p class="help-text">Optional parameter that is used to specify the sort of content being promoted, e.g. IWFAB, Blog</p>
      </label>
    </div>
    <button class="btn btn-aqua" (click)="generateUrl()" [disabled]="!utmForm.valid">Generate</button>
    <button class="btn btn-secondary" (click)="clearForm()">Clear form</button>
  </form>
  <div id="utm-output">
    <h3>UTM Link</h3>
    <p [hidden]="generatedUrl">This is where the completed URL will be generated.</p>
    <textarea id="generatedUrl" readonly [hidden]="!generatedUrl">{{generatedUrl}}</textarea>
    <button class="btn btn-crimson" type="submit" ngxClipboard [cbContent]="generatedUrl" (click)="doomSayer.success('Copied to clipboard')" [disabled]="!generatedUrl">Copy to clipboard</button>
  </div>
</main>
