@import "variables";

* {box-sizing: border-box;}
/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'RN House Sans', arial;
  margin:0 auto;
  padding:0;
}
body {
  margin:0;
  padding:0;
}

button {
  border: 0;
  background: #dcd8d6;
  color: #696969;
}

.grid {
  width : 100%;
  * {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
}
.row {
  &:after,&:before {
    content:"";
    display: table ;
    clear: both;
  }
}

input[type=text] {
  padding: 10px 15px;
  border: 0;
  background: #ebebeb;
  &::placeholder {
    color: darken($light-grey, 20%);
  }
}

.input-wrapper {
  position: relative;
  &:after {
    font-family: 'FontAwesome';
    position: absolute;
    left: 13px;
    top: 48%;
    font-size:0.8rem;
    transform: translateY(-50%);
  }
  input {
    padding-left:35px;
  }
  &-search {
    &:after {
      color: $dark-grey;
      content:'\f002';

    }
  }
}


.btn {
  border-radius: 4px;
  padding: 5px 12px;
  line-height:20px;
  &-aqua {
    background: $aqua;
    color: white;
  }
}
