<div class="wiki-nav-head grid">
  <div class="row">
    <div class="wiki-nav-head-title">
      <h1>Wiki</h1>
    </div>
    <div class="wiki-nav-head-btn-wrap">
      <button class="btn btn-aqua">Create</button>
    </div>
  </div>
  <div class="row">
    <div class="wiki-nav-filter input-wrapper input-wrapper-search">
      <input type="text" placeholder="Filter topics">
    </div>
  </div>
</div>


<div class="wiki-nav-list">
  <ul class="wiki-nav-list-parent">
    <li><a href="">Google Analytics</a>
        <ul class="wiki-nav-list-sub">
          <li><a href="">Child</a></li>
        </ul>
    </li>
    <li><a href="">Baz</a></li>
    <li><a href="">Bar</a></li>
  </ul>
</div>
