@import "../../../styles/variables";

:host {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: $side-nav-width;
  background: $light-grey;
  padding: 30px 20px;
  z-index: 1;
}


.wiki-nav {
  &-head {
    div.row {
      display: flex;
      align-items: center;

    }
    &-title {
      width: 60%;
      float: left;
      h1 {
        margin: 0;
        color: $dark-grey;
        font-size: 1.9rem;
      }
    }
    &-btn-wrap {
      width:40%;
      text-align: right;
      float: left;
    }
  }

  &-filter {
    display: block;
    width: 100%;
    margin: 15px 0;
    input {
      display: block;
      width: 100%;
      background: white;
    }
  }

  &-list {
    ul {
      margin: 0;
      padding-left: 0;
      list-style-type: none;
    }
    &-parent {
      font-size: 1.1rem;
      li {
        padding: 5px 0;
        a {
          color: #777;
          display: block;
        }
      }
    }
    &-sub {
      display: block;
      margin: 7px  0 7px 12px !important;
      border-left: 2px solid $aqua;
      li {
        padding: 5px 0 5px 20px;
        a {
          color: $brand-blue;
          font-size: 1rem;
        }
      }
    }
  }
}
