<div class="row Wiki__NavActions">
  <button routerLinkActive="active" routerLink="create"><i class="far fa-plus-square"></i><div>create</div></button>
  <button routerLinkActive="active" routerLink="topics"><i class="fas fa-list"></i><div>topics</div></button>
  <button routerLinkActive="active" [routerLink]="'post/' + currentArticle + '/edit'" [disabled]="!currentArticle"><i class="far fa-edit"></i><div>edit</div></button>
</div>
<div class="Wiki__NavContents card">
  <!--<div class="Wiki__NavContents">-->
    <!--<div class="row">-->
      <!--<div class="Wiki__NavFilter input-wrapper">-->
        <!--<input type="text" placeholder="Filter by Wiki Article titles" [(ngModel)]="keywordFilter">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="Wiki__NavList">
    <ul>
      <li class="Wiki__NavList--primary" *ngFor="let primaryNavItem of navItems" [ngClass]="{active: (primaryNavItem.SecondaryTopics | wikiNavDeepFilter: keywordFilter).length}">{{primaryNavItem.Title}}
        <ul>
          <li class="Wiki__NavList--secondary" *ngFor="let secondaryTopic of primaryNavItem.SecondaryTopics" [ngClass]="{active: (secondaryTopic.Articles | wikiNavFilter: keywordFilter).length}">
            {{secondaryTopic.Title}}
            <ul class="Wiki__NavListArticles">
              <li *ngFor="let article of secondaryTopic.Articles | wikiNavFilter: keywordFilter"><a routerLinkActive="active" routerLink="post/{{article.ID}}">{{article.Title}}</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
